# Copyright 2026 Circle Internet Financial, LTD. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

##################################
# Sui V1 Contract Configurations #
##################################

# The below environment variables are required to run the V1 E2E tests/examples.
# Running `yarn deploy-local:v1` (or `--deploy-version 1`) produces a
# `test_config.v1.env` file, automatically filling all values from deployment
# output.
SUI_MESSAGE_TRANSMITTER_ID=
SUI_MESSAGE_TRANSMITTER_STATE_ID=
SUI_MESSAGE_TRANSMITTER_UPGRADE_SERVICE_ID=
SUI_TOKEN_MESSENGER_MINTER_ID=
SUI_TOKEN_MESSENGER_MINTER_STATE_ID=
SUI_TOKEN_MESSENGER_MINTER_UPGRADE_SERVICE_ID=
SUI_USDC_FUNDS_OBJECT_ID=
SUI_MINT_CAP_ID=
SUI_USDC_CCTP_ID=
SUI_USDC_ID=
SUI_TREASURY_ID=
SUI_EXTENSIONS_ID=
SUI_STABLECOIN_ID=
SUI_DEPLOYER_KEY=
