# Copyright 2026 Circle Internet Financial, LTD. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

##################################
# Sui V2 Contract Configurations #
##################################

# The below environment variables are produced by the V2 deploy flow.
# Running `yarn deploy-local:v2` (or `--deploy-version 2`) produces a
# `test_config.v2.env` file, automatically filling all values from deployment
# output. (`--deploy-version all` produces `test_config.combined.env` with both
# the V1 keys above and these V2 keys.)
SUI_CCTP_EXTENSIONS_ID=
SUI_MESSAGE_TRANSMITTER_V2_ID=
SUI_MESSAGE_TRANSMITTER_V2_STATE_ID=
SUI_MESSAGE_TRANSMITTER_V2_UPGRADE_SERVICE_ID=
SUI_TOKEN_MESSENGER_MINTER_V2_ID=
SUI_TOKEN_MESSENGER_MINTER_V2_STATE_ID=
SUI_TOKEN_MESSENGER_MINTER_V2_UPGRADE_SERVICE_ID=
SUI_STABLECOIN_HANDLER_ID=
SUI_STABLECOIN_HANDLER_STATE_ID=
SUI_STABLECOIN_HANDLER_UPGRADE_SERVICE_ID=
SUI_MINT_CAP_V2_ID=
SUI_USDC_TOKEN_ID_V2=
SUI_USDC_FUNDS_V2_OBJECT_ID=
SUI_ATTESTER_ADDRESS=
SUI_FEE_RECIPIENT_ADDRESS=
SUI_USDC_ID=
SUI_TREASURY_ID=
SUI_EXTENSIONS_ID=
SUI_STABLECOIN_ID=
SUI_DEPLOYER_KEY=
